# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*

# Data
*.tar.gz
# Other
.DS_Store
wandb
output
checkpoints
datasets
finetune/tasks
ckpts*

.ipynb_checkpoints
*.ipynb

visualize.py
attention_visualization
*.pth